<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"/>


<div th:fragment="UIMessage (message)">
    <div th:if="${message}" th:text="${message.getMessage()}"
         th:class="${'alert ' + message.getAlertClass()}"></div>
</div>

<div th:fragment="FlightInfo (flight)">
    <th scope="row" class="align-middle">
        <label th:text="${flight.getConnection().getFlightNumber()}"></label></th>
    <td>
        <label th:text="${flight.getConnection().getDepartureAirport() + ', ' +
            flight.getConnection().getDepartureCity() +', ' +
            flight.getConnection().getDepartureCountry()}"></label>
    </td>
    <td class="align-middle"><label
            th:text=" ${flight.getConnection().getDestinationAirport() + ', '  + flight.getConnection().getDestinationCity() +', ' + flight.getConnection().getDestinationCountry()}"></label>
    </td>
    <td class="align-middle"><label
            th:text="${#dates.format(flight.getDepartureTime(), 'dd.MM.yyyy HH:mm')}"></label></td>
    <td class="align-middle"><label
            th:text="${#dates.format(flight.getArrivalTime(), 'dd.MM.yyyy HH:mm')}"></label>
    </td>
</div>


</html>


