<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"/>


<div th:fragment="UIMessage (message)">
    <div th:class="${'alert ' + message.getAlertClass()}" th:if="${message}"
         th:text="${message.getMessage()}"></div>
</div>

<div th:fragment="FlightInfo (flight)">
    <th class="align-middle" scope="row">
        <label th:text="${flight.getConnection().getFlightNumber()}"></label></th>
    <td class="align-middle">
        <label th:text="${flight.getConnection().getDepartureAirport() + ', ' +
            flight.getConnection().getDepartureCity() +', ' +
            flight.getConnection().getDepartureCountry()}"></label>
    </td>
    <td class="align-middle"><label
            th:text=" ${flight.getConnection().getDestinationAirport() + ', '  + flight.getConnection().getDestinationCity() +', ' + flight.getConnection().getDestinationCountry()}"></label>
    </td>
    <td class="align-middle"><label
            th:text="${#dates.format(flight.getDepartureTime(), 'dd.MM.yyyy HH:mm')}"></label></td>
    <td class="align-middle"><label
            th:text="${#dates.format(flight.getArrivalTime(), 'dd.MM.yyyy HH:mm')}"></label>
    </td>
</div>

<div th:fragment="ConnectionOptions (connections)">
    <option th:each="connection : ${connections}"
            th:text="${connection.getFlightNumber() + ': '+connection.getDepartureAirport() + ', ' + connection.getDepartureCity() +', ' +connection.getDepartureCountry+ ' &rArr; '+ connection.getDestinationAirport() + ', '
                    + connection.getDestinationCity()+', '+ connection.getDestinationCountry + ': '
                     + connection.getFlightTimeHours() + 'h'}"
            th:value="${connection.getFlightNumber()}">
</div>


</html>


