<!DOCTYPE html>
<html lang="en">
<head th:replace="common/header :: header"/>
<script type="text/javascript" th:src="@{/js/createflight.js}"></script>
<div th:fragment="flightform (flight, connections, planes, selectedPlane, delete)">
    <div class="mb-3">
        <label for="selectFlightroute" class="form-label">Flight route</label>
        <select class="form-select" aria-label="Default select example" id="selectFlightroute"
                th:onchange="setFlightDuration()" th:field="${flight.connection}">
            <option th:each="connection : ${connections}" th:value="${connection.getFlightNumber()}"
                    th:text="${connection.getFlightNumber() + ': '+connection.getDepartureAirport() + ', ' + connection.getDepartureCity() +', ' +connection.getDepartureCountry+ ' &rArr; '+ connection.getDestinationAirport() + ', '
                    + connection.getDestinationCity()+', '+ connection.getDestinationCountry + ': '
                     + connection.getFlightTimeHours() + 'h'}">
        </select>
    </div>
    <div class="mb-3">
        <label for="DepartureTimePicker" class="form-label">Departure time</label>
        <input class="form-control" type="datetime-local" id="DepartureTimePicker" th:onchange="updateArrivalTime()"
               th:field="${flight.departureTime}"/>
    </div>
    <div class="mb-3">
        <label for="ArrivalTimePicker" class="form-label">Arrival time</label>
        <input class="form-control" type="datetime-local" id="ArrivalTimePicker" readonly
               th:field="${flight.arrivalTime}"/>
    </div>

    <div class="mb-3">
        <label for="selectAirplane" class="form-label">Airplane</label>
        <select class="form-select" aria-label="Default select example" id="selectAirplane"
                th:field="${flight.airplane}">
            <div th:unless="${selectedPlane}">
                <option value="0" selected hidden aria-disabled="true">Choose here</option>
            </div>
            <div th:if="${selectedPlane}">
                <option th:value="${selectedPlane.getPlaneID()}"
                        th:text="${selectedPlane.getPlaneName() +' #' + selectedPlane.getPlaneID()}">
            </div>

            <option th:each="airplane : ${planes}" th:value="${airplane.getPlaneID()}"
                    th:text="${airplane.getPlaneName() +' #' + airplane.getPlaneID() + (airplane.getUnavailableUntil() == null ? ', Available' : ', Assigned until: ' + #dates.format(airplane.getUnavailableUntil(), 'yyyy-MM-dd HH:mm'))}">
        </select>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <a th:href="'/deleteflight/'+${flight.getFlightID()}" class="btn btn-danger"
       th:if="${delete == true}">Delete
    </a>

</div>
</body>
</html>