<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"/>
<script th:src="@{/js/repairplane.js}" type="text/javascript"></script>


<div th:fragment="flightTable (orders)">

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Order number</th>
            <th scope="col" sec:authorize="hasAuthority('STAFF')">Customer</th>
            <th scope="col">Flight number</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure time</th>
            <th scope="col">Arrival time</th>
            <th scope="col">Booked seats</th>
            <th scope="col" sec:authorize="hasAuthority('STAFF')">Booked cargo</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <th class="align-middle" scope="row">
                <label th:text="${order.getOrderID()}"></label></th>
            <td class="align-middle" sec:authorize="hasAuthority('STAFF')">
                <label th:text="${order.getCustomer()?.getUsername()}"></label></td>
            <div th:replace="common/components :: FlightInfo (${order.getFlight()})"></div>
            <td class="align-middle"><label th:text="${order.getTotalSeats()}"></label>
            </td>
            <td class="align-middle" sec:authorize="hasAuthority('STAFF')">
                <label th:text="${order.getTotalCargoInKg()}"></label></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- cases: available, assigned, broken-->
<div th:fragment="planeTable (planes, case)">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <div th:if="${case} == 'assigned'">
                <th scope="col">Assignment</th>
            </div>
            <div th:if="${case eq 'assigned' or case eq 'broken'}">
                <th scope="col">Unavailable until</th>
            </div>
            <th scope="col"></th>

        </tr>
        </thead>
        <tbody>
        <div th:each="plane : ${planes}">
            <tr>
                <th class="align-middle" scope="row">
                    <label th:text="${plane.getPlaneID()}"></label></th>
                <td><label th:text="${plane.getPlaneName()}"></label>
                </td>
                <div th:if="${case} == 'assigned'">
                    <td>
                        <div th:each="assignment : ${plane.getAssignments()}">
                            <label th:text="${assignment?.getConnection()?.getFlightNumber()}"></label>
                        </div>
                    </td>
                </div>
                <div th:if="${case eq 'assigned' or case eq 'broken'}">

                    <td><label th:text="${#dates.format(plane.getUnavailableUntil(), 'dd.MM.yyyy HH:mm')}"></label>
                    </td>
                </div>
                <div th:if="${case} != 'broken'">
                    <td class="align-middle">
                        <div class="float-end">
                            <a class="btn btn-primary" data-bs-toggle="modal"
                               th:attr="data-bs-target='#planeModal'+${plane.getPlaneID()}"
                               type="button">
                                Repair plane
                            </a>
                            <div aria-hidden="true" aria-labelledby="planeModalLabel" class="modal fade"
                                 tabindex="-1" th:id="planeModal+${plane.getPlaneID()}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="container-fluid">
                                            <form method="post" th:action="@{/planes}" th:object="${newPlane}">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="bookModalLabel"><label
                                                            th:text="'Repair Plane '+${plane.getPlaneName()}+ ', ID: ' +${plane.getPlaneID()}"></label>
                                                    </h5>
                                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                                            type="button"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <div class="mb-3">
                                                            <label class="form-label"
                                                                   for="DeadlinePicker">Deadline</label>
                                                            <input class="form-control" id="DeadlinePicker"
                                                                   th:field="${newPlane.unavailableUntil}"
                                                                   type="datetime-local"/>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="my-2">Select the needed tasks</label>
                                                            <div class="mb-3"
                                                                 th:each="issueType : ${T(de.othr.sw.HaberlRepairs.entity.dto.SingleRepairOrderDTO).values()}">
                                                                <input class="form-check-input" th:field="*{issues}"
                                                                       th:id="${{issueType}}"
                                                                       th:value="${{issueType}}" type="checkbox"/>
                                                                <label th:for="${{issueType}}"
                                                                       th:text="${issueType}"></label>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <input id="planeID" name="planeID"
                                                               readonly th:value="${plane.getPlaneID()}" type="hidden">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                            type="button">
                                                        Close
                                                    </button>
                                                    <button class="btn btn-primary" th:onclick="return empty()"
                                                            type="submit">Submit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                </div>
                <div th:if="${case} == 'broken'">
                    <td>
                        <div class="float-end">

                            <button aria-expanded="false" class="btn btn-primary" data-bs-target="#collapseIssue"
                                    data-bs-toggle="collapse"
                                    th:attr="data-bs-target='#collapseIssue'+${plane.getPlaneID()}"
                                    type="button">
                                View tasks
                            </button>
                        </div>

                    </td>
                </div>
            </tr>
            <div th:if="${case} == 'broken'">
                <tr class="p-0">
                    <td class="p-0" colspan="4">
                        <div class="accordion-collapse collapse" th:id="'collapseIssue'+${plane.getPlaneID()}">
                            <div class="accordion-body">
                                <table>
                                    <tr>
                                        <th>Tasks</th>
                                    </tr>
                                    <tr th:each="issue : ${plane.getIssues()}">
                                        <td>
                                            <label th:text="${issue}"></label>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="d-none p-0">
                    <td class="d-none" colspan="4"></td>
                </tr>

            </div>
        </div>


        </tbody>
    </table>
</div>


</html>


