<!DOCTYPE html>
<html lang="en">
<head th:replace="common/header :: header" />
<script type="text/javascript" th:src="@{/js/actions.js}"></script>


<div th:fragment="flightTable (orders)">

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">Order number</th>
            <th scope="col">Flight number</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Departure time</th>
            <th scope="col">Arrival time</th>
            <th scope="col">Booked seats</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <th scope="row" class="align-middle">
                <label th:text="${order.getOderID()}"></label></th>
            <th scope="row" class="align-middle">
                <label th:text="${order.getFlight().getConnection().getFlightNumber()}"></label></th>
            <td class="align-middle"><label th:text="${order.getFlight().getConnection().getDeparture()}"></label>
            </td>
            <td class="align-middle"><label th:text=" ${order.getFlight().getConnection().getDestination()}"></label></td>
            <td class="align-middle"><label
                    th:text="${#dates.format(order.getFlight().getDepartureTime(), 'dd.MM.yyyy HH:mm')}"></label></td>
            <td class="align-middle"><label th:text="${#dates.format(order.getFlight().getArrivalTime(), 'dd.MM.yyyy HH:mm')}"></label>
            </td>
            <td class="align-middle"><label th:text="${order.getTotalSeats()}"></label>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="planeTable (planes, assignment, unavailable, repairable)">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <div th:if="${assignment} == true">

            <th scope="col">Assignment</th>
            </div>
            <div th:if="${unavailable} == true">
            <th scope="col">Unavailable until</th>
            </div>
            <div th:if="${repairable} == true">
                <th scope="col"></th>
            </div>

        </tr>
        </thead>
        <tbody>
        <tr th:each="plane : ${planes}">
            <th scope="row" class="align-middle">
                <label th:text="${plane.getPlaneID()}"></label></th>
            <td ><label th:text="${plane.getPlaneName()}"></label>
            </td>
            <div th:if="${assignment} == true">

            <td ><label th:text="${plane.getAssignment()?.getConnection()?.getFlightNumber()}"></label>
            </td>
            </div>
            <div th:if="${unavailable} == true">

            <td> <label th:text="${#dates.format(plane.getUnavailableUntil(), 'dd.MM.yyyy hh:mm')}"></label>
            </td>
            </div>
            <div th:if="${repairable} == true">
                <td class="align-middle">
                    <div class="float-end">
                        <a type="button" class="btn btn-primary" data-bs-toggle="modal"
                           th:attr="data-bs-target='#planeModal'+${plane.getPlaneID()}">
                            Repair plane
                        </a>
                        <div class="modal fade" tabindex="-1" aria-labelledby="planeModalLabel"
                             aria-hidden="true" th:id="planeModal+${plane.getPlaneID()}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="container-fluid">
                                        <form th:action="@{/repairplane}" method="post" th:object="${plane}">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="bookModalLabel"><label
                                                        th:text="'Repair Plane '+${plane.getPlaneName()}+ ', ID: ' +${plane.getPlaneID()}"></label>
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        <div class="mb-3">
                                                            <label for="DeadlinePicker" class="form-label" >Deadline</label>
                                                            <input class="form-control" type="date" id="DeadlinePicker"/>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="control-label">Issues</label>
                                                            <div id="inputFormRow">
                                                                <div class="input-group mb-3">
                                                                    <input type="text" name="title[]" class="form-control m-input" placeholder="Enter title" autocomplete="off">
                                                                    <div class="input-group-append">
                                                                        <button id="removeRow" type="button" class="btn btn-danger">Remove</button>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div id="newRow"></div>
                                                            <button id="addRow" type="button" class="btn btn-info">Add Row</button>                                                        </div>
                                                    </div>
                                                    <div class="form-group">

                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    </td>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</html>